# Base de données MongoDB
MONGODB_URI="mongodb+srv://obaidessafil_db_user:AlRxbASDGLZhWAVL@cluster0.zx9lgam.mongodb.net/?appName=Cluster0"

# NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=pH4y1A3J5g/9NqKqz+8Zyq4IAdqNlfbzy6Gk7jM3FXA=

# Configuration de l'application
NEXT_PUBLIC_APP_NAME=ERP Multi-Entreprises
NEXT_PUBLIC_APP_VERSION=1.0.0



NEXTAUTH_URL=http://localhost:3000



JWT_SECRET=mySuperSecretKey123
JWT_REFRESH_SECRET=mySuperRefreshSecretKey456